# Dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Git backups
**/.git_backup/
.git_backup/

# Environment files
.env
.env*.local
.env.production
.env.development
*.env
!*.sample
!*.example

# Next.js & Frontend builds
.next/
out/
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & OS
.DS_Store
*.pem
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.vercel
postman.md
.agents
